<div style="margin:0;padding:0;background-color:#eceef0">
	<div class="container">
		<div class="navbar" style="margin-bottom:0">
			<div style="font-family:'Nanum Gothic', sans-serif" class="span12">
			<br>
  		<h1 style="font-size:30px; text-align:center">H2O SNU 2013년 하반기 회장단 선거</h1>
  			
			<h1 style="font-size:20px;color:black; text-align:center">H2O가 새로운 회장단을 맞이할 때가 되었습니다. 아래 후보를 보고 투표해주세요!</h1>
			<br>
		</div>
		</div>
	</div>
</div>


<div class="container" align="center">
	<div style="text-align:center">
		<div style="font-family:'Nanum Gothic', sans-serif" class="span12">
			
		<div class="row" style="font-family:'Nanum Gothic">
			<br>			
			<div class="span1">
			</div>  
			<div class="span10" style="font-family:'Nanum Gothic', sans-serif" >  
				<h1 style="font-size:25px;color:black; text-align:center">정회장 후보</h1>
				<div style="text-align:center">
				<%= image_tag "jung.jpg", :size => '300'%>
				</div>
				<br>
				<h1 style="font-size:20px;color:black; text-align:center">전기정보공학부 11학번 장재희</h1>
				
				<h1 style="font-size:17px; text-align:center; line-height:200%">안녕하세요,<br>저는 11년도부터 전기정보공학부에서 공부하고 있는 장재희라고 합니다. <br>H2O가 처음 생겼을 때부터 함께하면서 좋은 친구들을 만나고, 많은 배움을 얻어왔는데요.<br>이제는 제가 그간 회장단의 노고를 이어받고자 합니다.<br>저는 아직 부족함이 많은 사람이지만,<br> 중고등학교 때부터 대학와서 크고 작은 동아리장 일을 여러번 해왔던 경험은 조금 있습니다. <br>부끄러운 능력이지만 보태어 동아리원 여러분과 함께 한다면 <br>내실 있고 즐거운 동아리를 이끌어나갈 수 있을거라고 생각합니다. 감사합니다.</h1>
			</div>
			<div class="span1">
			</div>  				
		</div>
		<hr>

		<div class="row" style="font-family:'Nanum Gothic">
			<br>			
			<div class="span1">
			</div>  
			<div class="span10" style="font-family:'Nanum Gothic', sans-serif" >  
				<h1 style="font-size:25px;color:black; text-align:center">부회장 후보</h1>
				<div style="text-align:center">
				<%= image_tag "boo.jpg", :size => '300'%>
				</div>
				<br>
				<h1 style="font-size:20px;color:black; text-align:center">조선해양공학부 11학번 김아림</h1>
				
				<h1 style="font-size:17px; text-align:center; line-height:200%">안녕하세요 
				조선해양공학과 11학번 김아림입니다<br>
				H2O가 어느새 일년이 넘었네요<br>
				저에게는 H2O가 대학에 들어와서 처음으로 제대로 활동한 동아리이기 때문에 애정이 남다른 것 같아요<br>
				그리고 지난학기 부회장이라는 과분한 직책을 맡게 되어 부족하지만 다양한 경험을 할 수 있었습니다.<br> 그러나 저의 부족함 때문에 돌아보면 아쉬움이 남았어요.<br> 현재 H2O는 생긴지 얼마 안된 동아리지만 금전적으로 준정부기관의 지원을 받는 동아리고,<br> 또 일년을 무사히 보낸 지금, 앞으로가 더욱 중요하기 때문에 체계적인 운영이 중요한 시점이라 생각해요.<br><br> 제가 만약 이번학기도 부회장직을 맡는다면 <br>새로운 임원들을 도와서 H2O를 위해 더욱 제대로 봉사해보고 싶습니다.<br><br>
				</h1>
			</div>
			<div class="span1">
			</div>  				
		</div>
						

		<div class="row" style="font-family:'Nanum Gothic', sans-serif">
			
					<div class="span2"></div>			

						

					<div class="span10">
					<div class="well" style="width:570px;font-size:15px;margin-bottom:0px">
					<%= render :partial => 'reply_form'%>
					</div>
			
				</div>
			</div>


<br>
		<div style="text-align:center">
		<%= image_tag "black.png", :size => '250' %>
		</div>
	</div>
</div>